<!DOCTYPE html>
<html lang="en">


<!-- molla/index-11.html  22 Nov 2019 09:58:23 GMT -->

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>INSHOPCOM</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/product-details/assets/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/product-details/assets/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/product-details/assets/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/product-details/assets/images/icons/site.html">
    <link rel="mask-icon" href="/product-details/assets/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="/product-details/assets/images/icons/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="assets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css">

    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="/product-details/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/product-details/assets/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="a/product-details/ssets/css/plugins/magnific-popup/magnific-popup.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/product-details/assets/css/style.css">
    <link rel="stylesheet" href="/product-details/assets/css/plugins/nouislider/nouislider.css">
    <link rel="stylesheet" href="/product-details/assets/css/demos/demo-11.css">
  
   {{>userLinkCss}}
</head>


<body>

    {{>userHadder}}



    <main class="main">
        
		

        <div class="container">
            <div class="toolbox toolbox-filter">
               
			   
                <div class="toolbox-right">
                    <ul class="nav-filter product-filter">
                        <li ><a href="/" data-filter="*">All</a></li>
                         {{#each Category}}
                        <li><a href="/products/{{this.categoryName}}"data-filter=".furniture">{{this.categoryName}}</a></li>
                          {{/each}}
                        
                </div><!-- End .toolbox-right -->
            </div><!-- End .filter-toolbox -->

            <div class="widget-filter-area" id="product-filter-area">
                <a href="#" class="widget-filter-clear">Clean All</a>

                <div class="filter-area-wrapper">
                    <div class="row">
                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h3 class="widget-title">
                                    Category:
                                </h3><!-- End .widget-title -->

                                <div class="filter-items filter-items-count">
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cat-1">
                                            <label class="custom-control-label" for="cat-1">All</label>
                                        </div><!-- End .custom-checkbox -->
                                        <span class="item-count">24</span>
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cat-2">
                                            <label class="custom-control-label" for="cat-2">Furniture</label>
                                        </div><!-- End .custom-checkbox -->
                                        <span class="item-count">3</span>
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cat-3">
                                            <label class="custom-control-label" for="cat-3">Lighting</label>
                                        </div><!-- End .custom-checkbox -->
                                        <span class="item-count">2</span>
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cat-4">
                                            <label class="custom-control-label" for="cat-4">Accessories</label>
                                        </div><!-- End .custom-checkbox -->
                                        <span class="item-count">4</span>
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="cat-5">
                                            <label class="custom-control-label" for="cat-5">Sale</label>
                                        </div><!-- End .custom-checkbox -->
                                        <span class="item-count">2</span>
                                    </div><!-- End .filter-item -->
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h3 class="widget-title">
                                    Sort by:
                                </h3><!-- End .widget-title -->

                                <div class="filter-items">
                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="radio" class="custom-control-input" checked id="sort-1"
                                                name="sortby">
                                            <label class="custom-control-label" for="sort-1">Default</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="radio" class="custom-control-input" id="sort-2" name="sortby">
                                            <label class="custom-control-label" for="sort-2">Popularity</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="radio" class="custom-control-input" id="sort-3" name="sortby">
                                            <label class="custom-control-label" for="sort-3">Average Rating</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="radio" class="custom-control-input" id="sort-4" name="sortby">
                                            <label class="custom-control-label" for="sort-4">Newness</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="radio" class="custom-control-input" id="sort-5" name="sortby">
                                            <label class="custom-control-label" for="sort-5">Price: Low to High</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->

                                    <div class="filter-item">
                                        <div class="custom-control custom-checkbox">
                                            <input type="radio" class="custom-control-input" id="sort-6" name="sortby">
                                            <label class="custom-control-label" for="sort-6">Price: High to Low</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .filter-item -->
                                </div><!-- End .filter-items -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h3 class="widget-title">
                                    Colour:
                                </h3><!-- End .widget-title -->

                                <div class="filter-colors filter-colors-vertical">
                                    <a href="#" style="background: #b87145;"><span>Brown</span></a>
                                    <a href="#" style="background: #f0c04a;"><span>Yellow</span></a>
                                    <a href="#" style="background: #333333;"><span>Black</span></a>
                                    <a href="#" class="selected" style="background: #cc3333;"><span>Red</span></a>
                                    <a href="#" style="background: #ebebeb;"><span>White</span></a>
                                </div><!-- End .filter-colors -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->

                        <div class="col-sm-6 col-lg-3">
                            <div class="widget">
                                <h3 class="widget-title">
                                    Price:
                                </h3><!-- End .widget-title -->

                                <div class="filter-price">
                                    <div class="filter-price-text">
                                        Price Range:
                                        <span id="filter-price-range"></span>
                                    </div><!-- End .filter-price-text -->

                                    <div id="price-slider"></div><!-- End #price-slider -->
                                </div><!-- End .filter-price -->
                            </div><!-- End .widget -->
                        </div><!-- End .col-sm-6 col-lg-3 -->
                    </div><!-- End .row -->
                </div><!-- End .filter-area-wrapper -->
            </div><!-- End #product-filter-area.widget-filter-area -->
			<div class="more-container text-center mt-0 mb-7">
            <div class="btn btn-outline-dark-3 btn-more"><span>{{title}}</span><i
                    class="la la-refresh"></i></div>
        </div><!-- End .more-container -->
               
            <div class="products-container" data-layout="fitRows">







                {{#each product}}
                <div class="product-item accessories lighting sale col-6 col-md-4 col-lg-3">
                    <div class="product product-4">
                        <figure class="product-media">
                            {{#if this.OfferErr}}
                            <span class="product-label">{{this.offer}}% offer</span>
                            {{/if}}
                            <a href="/productDetailes/{{this._id}}">
                                <img src="/multiple-product-img/{{this.img.[0]}}" alt="Product image"
                                    class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <button   style="border:0px" onclick="AddWishList('{{this._id}}')" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                        wishlist</span></button>
                            </div><!-- End .product-action -->

                            <div class="product-action">
                                <button style="border:0px" onclick="addToCart('{{this._id}}')" class="btn-product btn-quickview"
                                    title="Quick view"><span>Add TO Cart</span></button>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <h3 class="product-title"><a href="productDetailes/{{this._id}}">{{this.ProductName}}</a>
                            </h3><!-- End .product-title -->
                            <div class="product-price">
                                {{#if OfferErr}}
                                <span class="new-price">Rs.{{this.price}}</span>
                                <span class="old-price"> Rs.{{this.originalPrice}}</span>
                                {{else}}
                                 <div class="product-price">
                                Rs.{{this.price}}
                            </div>
                            {{/if}}<!-- End .product-price -->
                            </div><!-- End .product-price -->
                            {{!-- <div class="product-nav product-nav-dots">
                                <a href="#" class="active" style="background: #333333;"><span class="sr-only">Color
                                        name</span></a>
                                <a href="#" style="background: #a48264;"><span class="sr-only">Color name</span></a>
                            </div><!-- End .product-nav --> --}}

                            {{!-- <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span><i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .product-action --> --}}
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                </div><!-- End .product-item -->
                {{/each}}
















                {{!-- <div class="product-item lighting sale col-6 col-md-4 col-lg-3">
                    <div class="product product-4">
                        <figure class="product-media">
                            <a href="product.html">
                                <img src="/multiple-product-img/{{this.img.[1]}}" alt="Product image"
                                    class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                        wishlist</span></a>
                            </div><!-- End .product-action -->

                            <div class="product-action">
                                <a href="popup/quickView.html" class="btn-product btn-quickview"
                                    title="Quick view"><span>quick view</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <h3 class="product-title"><a href="product.html">{{this.ProductName}}</a></h3>
                            <!-- End .product-title -->
                            <div class="product-price">
                                Rs.{{this.price}}
                            </div><!-- End .product-price -->
                            {{!-- <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span><i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .product-action --> --}}
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                </div><!-- End .product-item -->
                --}}

                {{!-- <div class="product-item lighting sale col-6 col-md-4 col-lg-3">
                    <div class="product product-4">
                        <figure class="product-media">
                            <span class="product-label">Sale</span>
                            <a href="product.html">
                                <img src="/product-details/assets/images/demos/demo-11/products/product-12.jpg"
                                    alt="Product image" class="product-image">
                            </a>

                            <div class="product-action-vertical">
                                <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to
                                        wishlist</span></a>
                            </div><!-- End .product-action -->

                            <div class="product-action">
                                <a href="popup/quickView.html" class="btn-product btn-quickview"
                                    title="Quick view"><span>quick view</span></a>
                            </div><!-- End .product-action -->
                        </figure><!-- End .product-media -->

                        <div class="product-body">
                            <h3 class="product-title"><a href="product.html">Carronade Large Suspension Lamp</a></h3>
                            <!-- End .product-title -->
                            <div class="product-price">
                                <span class="new-price">$892.00</span>
                                <span class="old-price">Was $939.00</span>
                            </div><!-- End .product-price -->
                            <div class="product-nav product-nav-dots">
                                <a href="#" class="active" style="background: #dddad5;"><span class="sr-only">Color
                                        name</span></a>
                                <a href="#" style="background: #825a45;"><span class="sr-only">Color name</span></a>
                            </div><!-- End .product-nav -->

                            <div class="product-action">
                                <a href="#" class="btn-product btn-cart"><span>add to cart</span><i
                                        class="icon-long-arrow-right"></i></a>
                            </div><!-- End .product-action -->
                        </div><!-- End .product-body -->
                    </div><!-- End .product -->
                </div><!-- End .product-item --> --}}
            </div><!-- End .products-container -->
        </div><!-- End .container -->

       
	   	
    </main><!-- End .main -->

    <footer class="footer footer-2">
        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p>
                <!-- End .footer-copyright -->
                <ul class="footer-menu">
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul><!-- End .footer-menu -->

                <div class="social-icons social-icons-color">
                    <a href="#" class="social-icon social-facebook" title="Facebook" target="_blank"><i
                            class="icon-facebook-f"></i></a>
                    <a href="#" class="social-icon social-twitter" title="Twitter" target="_blank"><i
                            class="icon-twitter"></i></a>
                    <a href="#" class="social-icon social-instagram" title="Instagram" target="_blank"><i
                            class="icon-instagram"></i></a>
                    <a href="#" class="social-icon social-youtube" title="Youtube" target="_blank"><i
                            class="icon-youtube"></i></a>
                    <a href="#" class="social-icon social-pinterest" title="Pinterest" target="_blank"><i
                            class="icon-pinterest"></i></a>
                </div><!-- End .soial-icons -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->

    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <!-- Mobile Menu -->
    {{>mobileView}}



    <!-- Plugins JS File -->
    <script src="/product-details/assets/js/jquery.min.js"></script>
    <script src="/product-details/assets/js/bootstrap.bundle.min.js"></script>
    <script src="/product-details/assets/js/jquery.hoverIntent.min.js"></script>
    <script src="/product-details/assets/js/jquery.waypoints.min.js"></script>
    <script src="/product-details/assets/js/superfish.min.js"></script>
    <script src="/product-details/assets/js/owl.carousel.min.js"></script>
    <script src="/product-details/assets/js/imagesloaded.pkgd.min.js"></script>
    <script src="/product-details/assets/js/isotope.pkgd.min.js"></script>
    <script src="/product-details/assets/js/wNumb.js"></script>
    <script src="/product-details/assets/js/nouislider.min.js"></script>
    <script src="/product-details/assets/js/bootstrap-input-spinner.js"></script>
    <script src="/product-details/assets/js/jquery.magnific-popup.min.js"></script>

    <!-- Main JS File -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/demos/demo-11.js"></script>
    {{!-- sawl --}}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function addToCart(proId) {
            console.log("inside ajax js");
            $.ajax({
                url: "/add-to-cart/" + proId,
                method: "get",
                success: (response) => {
                    if (response.status) {
                        let count = $('#cart-count').html()
                        count = parseInt(count) + 1
                        $('#cart-count').html(count)
                        Swal.fire({

                            icon: 'success',
                            title: 'This in your cart',
                            showConfirmButton: false,
                            timer: 1500
                        })

                    }

                }
            })
        }
    </script>

    <script>
        function AddWishList(proId) {
            console.log("loggd")
            $.ajax({
                url: "/addWishlist/" + proId,
                method: "get",
                data: {
                    proId
                },
                success: (response) => {
                    alert("added")
                }
            })
        }

    </script>
</body>


<!-- molla/index-11.html  22 Nov 2019 09:58:42 GMT -->

</html>